<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Recipes Book</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav me-1 mt-2 mt-lg-0">
        <li class="nav-item active">
          <app-dropdown name="Manage Recipe">
            <li><a class="dropdown-item">Save data</a></li>
            <li><a class="dropdown-item">Fetch data</a></li>
          </app-dropdown>
        </li>
      </ul>
    </div>
  </div>
</nav>
