<div class="row">
  <div class="col-xs-12">
    <img [alt]="recipe.name" class="img rounded recipe-image float-end" [src]="recipe.image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group float-end show">
      <app-dropdown name="Manage Recipe">
        <li><a class="dropdown-item" (click)="onAddToShoplistClicked()">Add to Shop List</a></li>
        <li><a class="dropdown-item" routerLink="../edit">Edit</a></li>
        <li><a class="dropdown-item">Delete</a></li>
      </app-dropdown>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <article class="bg-body">{{ recipe.description }}</article>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Ingredients:</h5>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </div>
  </div>
</div>
