<div class="row">
  <div class="col-xs-12">
    <img [alt]="recipe.name" class="img" [src]="recipe.image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group float-end">
      <button class="btn btn-primary dropdown-toggle" id="manageReceipeDropdown">
        Manage Recipe <span class="carret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="manageReceipeDropdown">
        <li><a class="dropdown-item" href="#">Add to shoplist</a></li>
        <li><a class="dropdown-item" href="#">Edit</a></li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <article class="bg-body">{{ recipe.description }}</article>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Ingredients:</h5>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Ingredient 1</a>
      <a href="#" class="list-group-item list-group-item-action">Ingredient 2</a>
      <a href="#" class="list-group-item list-group-item-action">Some other ingredient</a>
    </div>
  </div>
</div>
