<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-8">
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col col-sm-2">
          <label for="name">Amount</label>
          <input id="name" type="number" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success m-1" (click)="onAddClicked()">Add</button>
          <button type="button" class="btn btn-danger m-1">Delete</button>
          <button type="button" class="btn btn-secondary m-1 float-end">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>


